.c-jsonviewer {
    overflow-y: auto;
    height: 100%;

    ul {
        list-style: none;
    }
    li {
        color: var(--json-keys);
    }
    span {
        margin-inline-start: 5px;
    }

    .c-jsonviewer--string {
        color: var(--json-string);
    }
    .c-jsonviewer--booleantrue {
        color: var(--json-boolean-true);
    }
    .c-jsonviewer--booleanfalse {
        color: var(--json-boolean-false);
    }
    .c-jsonviewer--number {
        color: var(--json-number);
    }

    .c-jsonviewer--key {
        height: fit-content;
    }
    .c-jsonviewer__item {
        margin-inline-start: 1rem;
    }

    .c-jsonviewer__bracketobject {
        color: var(--json-object-brackets);
    }

    .c-jsonviewer__bracketarray {
        color: var(--json-array-brackets);
    }
}
