details,
summary {
    display: inline;
}

summary {
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border: none;
}

details[open] > summary > .c-jsonviewer__collapsed {
    display: none;
}

.c-jsonviewer__item {
    position: relative;
    margin-inline-start: 1rem;
}

.c-jsonviewer__icon {
    position: absolute;
    top: 6px;
    left: -18px;

    width: auto;
    height: 14px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    margin-inline-end: 10px;
}
