.c-jsonviewer {
    overflow-x: scroll;
    height: 100%;

    p {
        display: inline-block;
    }
    ul {
        list-style: none;
    }
    li {
        color: var(--json-keys);
    }

    details > summary {
        display: flex;
        align-items: center;

        list-style: none;

        cursor: pointer;

        width: fit-content;
    }
    details > summary::-webkit-details-marker {
        display: none;
    }

    details[open] > summary .c-jsonviewer__icon {
        transform: rotate(90deg);
    }

    details:not([open]) .c-jsonviewer__array--opening::after {
        content: "...]";
    }

    details:not([open]) .c-jsonviewer__object--opening::after {
        content: "...}";
    }
}

.c-jsonviewer__item,
.c-jsonviewer details > ul {
    margin: 0 0 0 1rem;
}

.c-jsonviewer__item {
    position: relative;
    margin-inline-start: 1rem;
}

.c-jsonviewer__object {
    color: var(--json-object-brackets);
}

.c-jsonviewer__array {
    color: var(--json-array-brackets);
}

.c-jsonviewer__elements {
    margin-inline-start: 15px;
}

.c-jsonviewer__icon {
    width: auto;
    height: 14px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    flex: 0 0 14px;
    margin-inline-end: 10px;
}
