.c-nodecontainer {
    --padding: 1rem;
    --heading-height: 40px;

    display: grid;
    grid-template-rows: 1fr;
    align-items: start;

    border-radius: 5px;

    background-color: var(--nodes-surface);

    transition:
        height,
        padding 0.3s ease-in;
}

.c-nodecontainer--closed {
    padding-block: 0;

    .c-nodecontainer__body,
    .c-nodecontainer__header {
        grid-row: 1;
        grid-column: 1;
        height: var(--heading-height);
        border-radius: 5px;
    }

    .c-nodecontainer__body > div > p {
        opacity: 0;
    }

    transition:
        height,
        padding 0.3s ease-in;
}

.c-nodecontainer__body {
    grid-row: 2;
}
.c-nodecontainer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    grid-row: 1;

    width: stretch;
    height: var(--heading-height);
    padding-inline: var(--padding);
    padding-block: 5px;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    box-shadow: 0px 3px 7px 1px var(--nodes-schadow);
}

.c-nodecontainer__icon {
    width: 20px;
    height: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    z-index: 10;
}

.c-nodecontainer__header--string {
    background-color: var(--nodes-string);
}
