* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mono);

    background-color: var(--json-background);
}

main {
    width: 100vw;
    height: 100vh;

    color: var(--text-p);
    padding: 10px;
}

section {
    position: relative;
}

.u-layout {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;

    width: 100vw;
    max-width: 100vw;

    .u-left,
    .u-middle,
    .u-right {
        width: 100%;
        grid-row: span 2 / span 2;
        background-color: var(--json-surfed-panel);
        border-radius: 10px;
    }

    .u-bottom {
        grid-column: span 3 / span 3;
        grid-row-start: 3;
    }
}
