:root {
    --text-p: hsl(40, 11%, 76%);

    --json-keys: hsl(204, 98%, 74%);
    --json-string: hsl(17, 49%, 64%);
    --json-number: hsl(96, 27%, 74%);
    --json-boolean-true: hsl(111, 74%, 50%);
    --json-boolean-false: hsl(348, 100%, 52%);
    --json-array-brackets: hsl(51, 100%, 50%);
    --json-object-brackets: hsl(302, 59%, 65%);
    --json-background: hsl(40, 11%, 4%);
    --json-surfed-panel: hsl(0, 0%, 18%);

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}
